@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --grid-template-columns-header: 1fr auto;
}
